#thanks {
    text-align: center;
    margin: auto;
    font-family: system-ui;
    font-size: 156px;
}

#you  {
    margin: auto;
    width: 56%;
    padding: 10px;
    font-family: system-ui;
    font-size: xx-large;
    text-align: center;
}
#thnkimg {
    display: block;
    margin-left: auto;
    margin-right: auto;}